body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  /* background-color: #00001F; */
  font-weight: bold;
}


#graph {
  margin-top: 5%;
}

#icon {
  margin-left: 7%;
  margin-top: 12%;
  color: rgba(92, 92, 95, 0.418);
  font-size: 300%;
}

.navbar {
  color: white;
}



/* 
blue: #00001F
green: #00FF99
red: #FF0000 
*/


